body {
  margin: 0;
}

.table-cont {
  display: flex;
  justify-content: center;
}

table {
  border: 1px solid black;
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
}

.table-support:nth-child(even) {
  background-color: rgb(248, 248, 248);
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

td {
  padding-top: 10px;
  padding-bottom: 20px;
}

.hide {
  display: none;
}

.mission1 {
  text-align: center;
}

.mission-name {
  font-size: 25px;
  font-weight: bold;
}

.description {
  width: 50%;
  text-align: left;
  padding-left: 10px;
}

.not {
  background-color: grey;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
}

.join {
  color: grey;
  border: 2px solid grey;
  padding: 10px;
}

.yes {
  background-color: rgba(38, 125, 240, 0.877);
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

.leave {
  color: red;
  border: 2px solid red;
  padding: 10px;
}
