* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.containers {
  display: flex;
  flex-direction: column;
  padding: 0.3%;
  margin-top: 1rem;
}

.rocket-contain {
  width: 30%;
  margin-left: 1rem;
}

.missionList {
  border: 1px solid grey;
  padding: 0.7rem;
  width: 100%;
}


.table1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid  #bdbcbc;
  border-radius: 5px;
  margin-top: 1rem;
}

.data {
  width: 100%;
  border: 1px solid #bdbcbc;
  padding: 0.8rem;
}

